{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": "appmesh:StreamAggregatedResources",
            "Resource": [
                "arn:aws:appmesh:${AWS_REGION}:${AWS_ACCOUNT_ID}:mesh/demo-mesh/virtualGateway/*"
            ]
        }
    ]
}
