apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig
metadata:
  name: private-cluster
  region: $EKS_REGION 
  version: "1.27"
privateCluster:
  enabled: true 
  additionalEndpointServices:
  - "cloudformation"
  - "autoscaling"
  - "logs"
vpc:
  id: "$EKS_VPC_ID"
  subnets:
    private:
      $EKS_AZ1:
        id: "$EKS_SUBNET_ID1"
      $EKS_AZ2:
        id: "$EKS_SUBNET_ID2"
      $EKS_AZ3:
        id: "$EKS_SUBNET_ID3"
managedNodeGroups:
  - name: managed-ng-1
    instanceType: m5.large 
    desiredCapacity: 2
    minSize: 2
    maxSize: 2
    privateNetworking: true
    volumeSize: 80
    ssh:
      allow: true
      enableSsm: true
